@media (min-width: 800px){

    .solutions-cardsList{
        display:flex;
        flex-direction: row;
    }    
}
.solutions-cardsList{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}