*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App{
    height: 100vh;
    position: relative;
}
@media screen and (max-width : 800px){
    .App{
        height: 100% !important;
    }
}